*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
html, body{

    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    margin: 0;
}

h5 {

    color: rgb(245, 161, 6);
    font-size: 30px;
    padding:10px 20px;
        
}
.jumbotron .jumbotron-fluid{

    height: 60px;
    margin: 0;
}

#outer {
    width: 100%;
    height: 600px;
    background-image: url("im/car7.PNG");
    margin: 0!important;
    background-repeat: no-repeat;
    background-size: cover;
}

figure {

    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {

    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {

    background-image: url("im/carbg.PNG");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
.flip-card {
    background-color: transparent;
    width: 395px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(144, 176, 207);
    color: black;
    transform: rotateY(180deg);
  }
  footer{
    color: rgb(245, 161, 6);
    background-color: black;
  }