{% extends "base.html" %}

{% block head%}
<style>
    h1{
        font-family: cursive;
    }
    button {

        right: -60px;
   }
</style>
{% endblock %}
{% block body%}
<br><br>
<h1 align="left" style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BMI tells you <br>&nbsp;&nbsp;&nbsp; how "BIG" you are <br>&nbsp; not how "SICK" your are</h1>
<br>
<form action="http://127.0.0.1:5000/form">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-secondary" >Calculate</button>
</form>
{% endblock%}