<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!--Navigation_Bar-->

  <nav class="navbar navbar-custom navbar-expand-md sticky-top ">

    <div class="container-fluid" style="background-color:whitesmoke">
      <!--icon-->
      <a class="navbar-brand" href="#"><img src="icon1.png" width="150" height="80"></a>
      <h1><i><u>Crème Glacée</u></i></h1>
      <!--collapsible_navbar-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--navbar_content-->
      <ul class="navbar-nav ml-auto">
        <div class="collapse navbar-collapse" id="navbarResponsive">

          <li class="nav-item"><a class="nav-link active" href="#">HOME</a></li>
          <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/2">ABOUT</a></li>
          <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/3">CONTACT US</a></li>

        </div>
      </ul>
    </div>
  </nav>

  <!-- Carousel-->
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="Life is like.png" width="1300" height="600">
        <div class="carousel-caption">

          <br><br><br><br></h1>
        </div>
      </div>

      <div class="carousel-item ">
        <img src="ICE CREAM.png" width="1300" height="600">
        <div class="carousel-caption">

        </div>
      </div>

      <div class="carousel-item">
        <img src="'All you need is Love and lots of.png" width="1300" height="600">
        <div class="carousel-caption">

        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 style="text-align: center;">The secret of getting ahead, is getting started. <a class="my">GET Started</a>
      </h2>
      <div>

      </div>
    </div>
  </div>

</body>

</html>